html, body {
  height: 100%;
}

body {
  padding-bottom: 10px;
  height: 100%
}

.app {
   display: flex;
   flex-direction: row;
   height: 90%;
}

.chat-app-header {
   padding-left: 30px;
}

.chat-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.chat-messages {
  border: solid 1px;
  border-radius: 4px;
   /* position: absolute; */
  flex: 3;
  overflow-y: auto;
}

ul, ul.panel-body {
  margin: 0;
  padding: 0;
}

.odd {
  background: #eee;
}

.message-row {
  list-style-type: none;
  padding: 4px 12px;
  display: flex;
}

.message-row img {
  padding-right: 1em;
  /* flex: auto; */
  border-radius: 15px;
}

.message-row p {
  /* flex: auto; */
}

.input-group {
   border: solid 1px;
   border-radius: 4px;
   margin-top: 4px;
}

.room-users-list {
   border: solid 1px;
   border-radius: 4px;
   width: 30%;
   box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.dropdown {
   display: flex;
   width: 100%;
}

#dropdownMenuButton {
   display: flex;
   width: 100%;
}

.this-room-name {
   margin: 30px;
   text-align: center;
}

.users-in-this-room {
   overflow-y: auto;

}



.me {
  /* justify-content: flex-end; */
  flex-direction: row-reverse;      }

.me img{
  padding-right: 0;
  padding-left: 1em;
}

.me p {
  text-align: right;
}

.message-newRoom {
  
}

.message-username {
  font-weight: bold;
}

.message-message {
  display: block;
}

.message-username + .timestamp {
  padding-left: 8px;
}

.timestamp {
  font-style: italic;
  /*        display: block; */
}
